<%= form_with(model: todo_category, local: true) do |form| %>
  <% if todo_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(todo_category.errors.count, "error") %> prohibited this todo_category from being saved:</h2>

      <ul>
        <% todo_category.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.text_field :category_id %>
  </div>

  <div class="field">
    <%= form.label :todo_id %>
    <%= form.text_field :todo_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
