<p id="notice"><%= notice %></p>

<h1>Todo Categories</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Todo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todo_categories.each do |todo_category| %>
    <% todos= Todo.find(todo_category.todo_id)%>
    <% categories= Category.find(todo_category.category_id)%>
      <tr>
        <td><%= categories.title %></td>
        <td><%= todos.title %></td>
        <td><%= link_to 'Show', todo_category %></td>
        <td><%= link_to 'Edit', edit_todo_category_path(todo_category) %></td>
        <td><%= link_to 'Destroy', todo_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Todo Category', new_todo_category_path %>
