

 <% todos= Todo.find(@todo_category.todo_id)%>
 <% categories= Category.find(@todo_category.category_id)%>
        <h2><%= "Category : " +categories.title %></h2>
        <p><%= "To-do Title : " + todos.title %></p>
        <p><%= "To-do Description : " + todos.description%></p>
        <p><%= if todos.is_general
        	"general " + todos.date.to_s
        	else
        	"today " + todos.date.to_s
        	end
         %></p>
        

<%= link_to 'Edit', edit_todo_category_path(@todo_category) %> |
<%= link_to 'Back', todo_categories_path %>
