<p id="notice"><%= notice %></p>
<%= render @todo %>


<h2>Comments</h2>
<%= render @todo.comments %>


<h2>Add a comment:</h2>
<%=render 'comments/form'%>

<%= link_to 'Edit', edit_todo_path(@todo) %> |
<%= link_to 'Back', todos_path %>
