<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @todo.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @todo.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @todo.date %>
</p>

<p>
  <strong>Is general:</strong>
  <%= @todo.is_general %>
</p>

<h2>Comments</h2>
<%= render @todo.comments %>


<h2>Add a comment:</h2>
<%=render 'comments/form'%>

<%= link_to 'Edit', edit_todo_path(@todo) %> |
<%= link_to 'Back', todos_path %>
